#
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

#
bin/
obj/
[Bb]uild/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/

#
*.nupkg
packages/
!packages/repositories.config

#
App.config
Web.config
appsettings.json
appsettings.Development.json

#
*.designer.cs

#
.idea/
*.DotSettings.user
resharper/

#
*.g.cs
*.g.i.cs
